.cards {
  padding: 0;
  display: grid;
  width: 100%;
  min-height: 45vh;
}

.cards_grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style-type: none;
  margin: 70px 0;
}

.cards_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 80px;
  width: 100%;
  max-width: 320px;
  padding: 11px 0 9px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  transition: 0.2s;
  cursor: pointer;
}

.cards__button:hover {
  filter: invert();
}


.cards__text {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .cards {
    margin: 70px 0;
    margin-right: 70px;
  }
}

@media screen and (max-width: 800px) {
  .cards {
    max-width: 93%;
    margin: 70px auto;
    margin-bottom: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 580px) {
  .cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    margin: 70px auto;
  }

  .cards__button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    margin: 70px auto 80px;
  }
}