@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter_web/inter.css);
@import url(./blocks/page.css);

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 769px) {
  .wrapper {
    width: 90%;
  }
}
